.close-toggle {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    &::before,
    &::after {
        content: '';
        border-radius: 2px;
        background: #fff;
        display: inline-block;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        top: calc(50% - 1px);
        
    }
    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }
    
}