.menu-toggle {
    display: inline-block;
    width: 40px;
    height: 30px;
    position: relative;
    cursor: pointer;
    span {
        content: '';
        border-radius: 2px;
        background: #fff;
        display: inline-block;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        top: calc(50% - 1px);
        &::before,
        &::after {
            content: '';
            border-radius: inherit;
            background: inherit;
            display: inherit;
            width: inherit;
            height: inherit;
            position: inherit;
            left: inherit;
        }
        &::before {
            top: 10px;
        }
        &::after {
            bottom: 10px;
            }
    }
    
}