.active-profile {
    display: inline-block;
    img {
        border: 2px solid transparent;
        border-radius: 50%;
        width: 33px; 
        height: 33px; 
        margin-right: 15px;
        vertical-align: middle;
        transition: 0.3s ease;
        will-change: border-color;
    }
    span {
        color: #fff;
        font-weight: 300;
        font-size: 15px;
    }
    &:hover img {
        border-color: $blue;
    }
}
