@media(min-width: 769px) {
    .hover-arrow {
        position: relative;
        &::after {
            border-bottom: 6px solid transparent;
            border-left: 6px solid $default-text;
            border-top: 6px solid transparent;
            display: inline-block;
            content: '';
            height: 0px;
            width: 0px;
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translate(-5px,-50%);
            opacity: 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }
        &:hover:after {
            transform: translate(0px,-50%);
            opacity: 1;
        }
    }
}