.list-box-container {
    display: inline-block;
    width: 33.3%; 
    padding: 0 15px;
    float: left;
    }
.list-box {
    border-radius: 6px;
    border: 1px solid $grey;
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    background: #fff;
    & > h3 {
        display: block;
        color: $default-text;
        font-weight: 400;
        font-size: 16px;
        padding: 15px;
        margin: 0;
    }
    p {
        font-size: 16px;
        margin: 0;
    }
} 

.list-box-item {
    border-top: 1px solid lighten($grey, 5%);
    display: block;
    padding: 15px;   
}

.popular-question {
    border-top: 1px solid lighten($grey, 5%);
    display: block; 
    position: relative;
    padding: 0px 0px 0px 80px;
    min-height: 75px;
    .profile-link {
        display: inline-block;
        border-radius: 55%;
        display: inline-block;
        width: 42px;
        height: 42px;
        position: absolute;
        top: 15px;
        left: 15px;
        &::after {
            border-radius: 50%;
            border: 2px solid #fff;
            background: $orange;
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            position: absolute;
            right: 0;
            bottom: 0px;
        }
        img {
            border: 2px solid transparent;
            border-radius: 50%;
            transition: border-color 0.2s linear;
            &:hover {
                border-color: lighten($blue, 20%);
            }
        }
    }
    .question-link {
            display: inline-flex; 
            align-items: center;  
            padding: 15px 15px 15px 0;
            width: 100%;
            min-height: 75px;
            color: $default-text;
            cursor: pointer;
        }
    &.active {
        .profile-link {
            &::after {
                background: $green;
            }
        }
    }
}

@media(max-width: 998px) {
    .list-box-container {
        p,a {
            font-size: 14px;
        }
    }
    .popular-question {
        padding: 0px 0px 0px 70px;
    }
}

@media(max-width: 769px) {
    .list-box-container {
       width: 100%;
    }
}