.nav-cards {
    border-radius: 4px 4px 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    position: absolute;
    bottom: 100%;
    max-width: 1190px;
    margin: 0 auto;
    width: 100%;
    right: 50%;
    transform: translateX(50%);
    z-index: 1;
    overflow: hidden;
}
.nav-card {
    width: 25%;
    height: auto;
    padding: 20px 25px;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    &:hover::before {
        transform: scale(1.1);
    }
    &::before {
        content: '';
        display: inline-block;
        background-size: auto 100%;
        height: 100%;
        width: 113px;
        opacity: 0.15;
        position: absolute;
        right: 0;
        top: 0;
        overflow: visible;
        z-index: 0;
        transition: transform 0.5s ease;
    }
    &:nth-of-type(1){
        background-color: $purple;
        &::before {
            background: url('../images/book.svg') no-repeat bottom left;
            background-size: auto 110%;
        }
    }
    &:nth-of-type(2){
        background-color: $blue;
        &::before {
            background: url('../images/shopping-bag.svg') no-repeat bottom left;
            background-size: auto 128%;
        }
    }
    &:nth-of-type(3){
        background-color: $orange;
        &::before {
            background: url('../images/question.svg') no-repeat center left;
            background-size: auto 135%;
            width: 100px;
        }
    }
    &:nth-of-type(4){
        background-color: $green;
        &::before {
            background: url('../images/thought-bubble.svg') no-repeat bottom left;
            background-size: auto 100%;
        }
    }
    h3 {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        margin: 0 0 8px;
        position: relative;
        z-index: 2;
    }
    P {
        color: #fff;
        font-size: 14px;
         font-weight: 400;
        margin: 8px 0;
        line-height: 1.4;
        position: relative;
        z-index: 2;
    }
}

@media(max-width: 1190px){
    .nav-cards {
        border-radius: 0;
    }   
}

@media(max-width: 1075px){
    .nav-cards {
        position: relative;
        bottom: initial;
        .nav-card {
            width: 50%;
        }
    }   
}

@media(max-width: 550px){
    .nav-cards {
        .nav-card {
            padding: 15px 20px;
            width: 100%;
        }
        h3 {
            font-size: 14px;
        }
        p {
            font-size: 12px;
        }
    }  
}