.search-container {
    display: block;
    width: 100%;
    padding: 0 15px;
    z-index: 1;
    text-align: center;
    .search {
        border-radius: 4px;
        display: inline-block;
        flex-wrap: nowrap;
        background: rgba(255,255,255,0.15);
        width: 100%;
        max-width: 750px;
        height: 57px;
        position: relative;
         overflow: hidden;
        &:after {
            display: block;
            content: '';
            clear: both;
        }
    }
    input {
        background: transparent;
        border: 0px solid transparent;
        display: inline-block;
        height: 100%;
        width: 100%;
        padding: 10px 10px 10px 60px;
        vertical-align: center;
        float: right;
        color: #fff;
        font-weight: 300;
        text-overflow: ellipsis;
        &::-webkit-input-placeholder {
        color: #fff;
        }
        &::-moz-placeholder {
        color: #fff;
        }
        &:-ms-input-placeholder {
        color: #fff;
        }
        &:-moz-placeholder {
        color: #fff;
        }
    }
    button {
        border: 0px solid transparent;
        background-color: transparent;
        height: 100%;
        width: 52px;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        z-index: 2;
        transition: background-color 0.2s linear;
        cursor: pointer;
        &:hover {
            background-color: rgba(255,255,255,0.1);
        }
        img {
            display: inline-block;
            width: 42%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    form {
        display: block;
        width: 100%;
        height: 100%;
    }
    p {
        max-width: 750px;
        margin: 5px auto;
        color: $lite-blue;
        font-weight: 300;
        font-size: 15px;
        text-align: left;
        span {
            display: inline-block;
            border-radius: 4px;
            background: rgba(0,0,0,0.6);
            padding: 3px 8px 4px; 
            margin: 0 4px;
            text-transform: uppercase;
            vertical-align: middle;
            font-size: 12px;
            color: #fff;
        }
    }
}

@media(max-width: 768px){
    .search-container {
        .search {
            height: 40px;
        }
        p {
            font-size: 12px;
            span {
                font-size: 9px;
            }
        }
    }
}