.toggle-container {
    display: none;
}

.content-toggle {
    background: $grey;
    padding: 15px;
    color: $default-text;
    font-size: 15px;
    position: relative;
    text-align: center;
    cursor: pointer;
    @media(min-width: 769px){
        &::after {
            border-top: 6px solid $default-text;
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;
            display: inline-block;
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            right: 50%;
            bottom: 6px;
            z-index: 2;
            opacity: 0;
            transform: translate(50%, -3px);
            transition: transform 0.3s ease, opacity 0.3s ease;
        }
        &.active {
            &::after {
                border-top: 0px solid transparent;
                border-bottom: 6px solid $default-text;
                bottom: initial;
                top: 6px;
                transform: translate(50%, 3px);
                transition: transform 0.3s ease, opacity 0.3s ease;
            }
        }
        &:hover::after {
            transform: translate(50%, 0px);
            opacity: 1;
        }
    }
}
