*:after,
*:before,
* {
  box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background: $lite-grey;
}

.site-constraint {
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
}

img {
    width: 100%;
}