html {
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    @media (max-width: 769px) {
        font-size: 14px;
    }
}

h1 {
    font-size: 2rem; //32px;
}
h2 {
    font-size: 1.625rem; //26px
}
h3 {
    font-size: 1.25rem; //20px
}
h4 {
    font-size: 1.125rem; //18px
}
h5 {
    font-size: 1rem; //16px
}
h6 {
    font-size: 0.875rem; //14px
}

p {
    font-size: 1rem; //16px
}

h1,h2,h3,h4,h5,h6,p {
    color: $default-text;
}

a {
    cursor: pointer;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}