.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: url(../images/background-wave-blur.jpg) no-repeat top center;
    background-size: cover;
    position: relative;
    &::after {
        background: rgba(30,40,60,0.87);
        display: block;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 0;
    }
}

@media(max-width: 1075px){
    .banner {
         height: 350px;
         padding-top: 60px;
    }   
}

@media(max-width: 769px){
    .banner {
        background: url(../images/background-wave-blur-sm.jpg) no-repeat top center;
        background-size: cover;
        height: 350px;
        padding-top: 50px;
    }   
}