.ds-container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    &.no-padding {
        padding: 0;
    }
}

.ds-row {
    margin-left: -15px;
    margin-right: -15px;
    &:after {
        display: block;
        content: '';
        clear: both;
    }
}
