.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    .header-container {
        max-width: 1220px;
        margin: 0 auto;
        padding: 0;
        position: relative;
        height: 60px;
    }
    .main-nav {
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0;
        color: #fff;
        a {
            display: inline-block;
            color: #fff;
            font-weight: 300;
            padding: 8px 15px;
            text-decoration: none;
            cursor: pointer;
            &:after {
                border-left: 5px solid #fff;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                top: 54%;
            }
        }
    }
    .active-profile-container {
        display: inline-block;
        position: absolute;
        padding: 0 15px;
        right: 0;
        bottom: 0;
        opacity: 0;
        animation: slideIn 0.4s ease-out 0.5s forwards;
        img {
            transform: rotate(35deg);
            animation: wobbleIn 0.5s ease 0.8s forwards;
        }
    }
    .close-toggle,
    .menu-toggle {
        display: none;
    }
}

@keyframes slideIn {
    0% {transform: translateX(100%); opacity: 0;}
    100% {transform: translateX(0); opacity: 1;}
}
@keyframes wobbleIn {
    0% {transform: rotate(35deg)}
    50% {transform: rotate(-20deg)}
    100% {transform: rotate(0deg)}
}

@media(max-width: 769px){
    .header {
         .header-container {
            height: 48px;
        }
        .main-nav {
            width: 70%;
            max-width: 350px;
            background: $slate;
            padding: 50px 0 0;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 1000;
            transform: translateX(-100%);
            transition: transform 0.2s ease;
            overflow: scroll;
            a {
                display: block;
            }
        }
        .close-toggle,
        .menu-toggle {
            display: inline-block;
            position: absolute
        }
        .menu-toggle {
            top: 15px;
            left: 15px;
        }
        .close-toggle {
            top: 15px;
            right: 15px;
        }
    }
    .menu-overlay {
        background-color: transparent;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 900;
        transition: background-color 0.2s linear;
    }
    .menu-active {
        overflow: hidden;
        .header {
            .main-nav {
                transform: translateX(0);
            }
            .menu-overlay {
                background-color: rgba(255,255,255,0.5);
            }
        }
    }
}